html{
    background-color: #33393f;
}
.main-header{
    line-height: 50px;
}

h1{
    text-align: center;
    padding: 20px;
    font-size: 40px;
    color: #e866ec;
}

header p {
    color: white;
    padding-left: 30px ;
}
.all-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.card{
    padding: 50px;
    margin: 1%;
    background-color: palevioletred;
    display: flex;
    flex-direction: column;
    width: 30%;
    border-radius: 10px; 
    
}

.code-description{
    user-select: all;
}
::selection{
    background-color: #2aefcb;
}
@media screen and (max-width: 1330px )
{
    .card {width: 50%}

}    
